<!---(Angel/Ryan)--->
<br/><br/><br/><br/><br/><br/>
<div class='container'>
    <div>        
        <center><button id="emptyCartButton" class="btn btn-warning" onclick="emptyCart()">Empty Cart</button><hr size="3"/><p id="total"></p></center>
        <hr size="3"/>
        <div class="col-md-12">

            <div id="cartProducts">

                <br/>
                <br/>
            </div>
            
        </div>
        <hr size="3"/><hr size="3"/>
        
    </div>
</div>